@charset "utf-8";
html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;overflow:-moz-scrollbars-vertical;/*强制firefox出现滑动条*/}
body { font-size:0.75em;}
label { cursor:pointer;}
a:link, a:visited { text-decoration:none;}
input:focus { outline: none; }
input,button,select,textarea{outline:none;/*-webkit-appearance:none;*//*强制去除表单自带的样式*/ }
textarea{resize:none;/*-webkit-appearance:none;*//*强制去除textarea自带的样式*/ }

input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; } /*利用阴影来填充掉input自动填充色*/

textarea,input,select { background: none; border:none; margin: 0; padding: 0; }

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, var { margin:0; padding:0;}

article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block;} /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em;}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif;}
em, cite, address, optgroup { font-style:normal;}
kbd, samp, code { font-family:monospace;}

img, input, button, select, textarea { vertical-align:middle;outline:none;}
ul, ol { list-style:none;}
img, fieldset { border:0;}
abbr, acronym { cursor:help; border-bottom:1px dotted black;}
table {	width:100%; border-spacing:0; border:0;}
table th, table td { border:0;}
legend, hr { overflow:hidden; position:absolute; top:0; left:0;}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0;}

/**
 * = global 统一样式
 *******************************************************************************************************/
/* 改变动画的效果方式*/
* {
  -webkit-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
html { height: 100%;}
body { position: relative; font-family:"微软雅黑"; width: 100%; height: 100%; margin: 0 auto; background: #0f71c3; }
body h1,body h2,body h3,body h4,body h5,body h6,body strong,body em {font-weight:normal; } /*微软雅体 将原有的bold属性去掉*/

textarea:focus,input:focus { border: 1px solid #71b643; }

/**
 * = function 功能样式
 *******************************************************************************************************/
.f-ofh { overflow: hidden; height: 100%!important; } 		/*隐藏内容-overflow-hidden*/
.f-hide { display: none!important; } 						/*隐藏内容*/

.f-tc { text-align: center; }
.f-tr { text-align: right; }
.f-fl { float: left; }
.f-fr { float: right; }
.f-fixed { position: fixed; }
.f-cur { cursor: pointer; }

/**
 * loading
 * -u-pageLoading
 */
.u-pageLoading { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: transparent; z-index: 99999;}
.loading-cover { position: absolute; left: 50%; top: 50%; margin-left: -23%; margin-top: -30px; width: 46%; height: 15px; overflow: hidden; border-radius: 0; z-index: 30;}
.loading-bar { width: 100%; height: 100%; margin-left: -100%; background-color: #fff;}
.loading-txt, .bottom-txt { position: absolute; left: 50%; top: 50%; margin-left: -150px; margin-top: -70px; width: 300px; height: 30px; line-height: 30px; color: #fff; font-size: 16px; text-align: center; vertical-align: middle; z-index: 40}
.bottom-txt { margin-top: -5px;}
/**
 * = Layout 布局样式
 *******************************************************************************************************/
.p-ct { position: relative; width: 100%; height: 100%; overflow: hidden; }
.p-ct.fixed { overflow: hidden; }

.translate-front { position: fixed; top: 0; left: 0; z-index: 100; height: 100%; width: 100%; opacity: 0; 
	-webkit-transition: opacity 1s;
	   -moz-transition: opacity 1s;
	    -ms-transition: opacity 1s;
	     -o-transition: opacity 1s;
	        transition: opacity 1s;
}
.translate-front .mengban-warn { position: absolute; }
.translate-front.z-show { opacity: 1; }
.translate-back { position: relative; width: 100%; height: 100%; }

/**
 * = modle 模块样式
 *******************************************************************************************************/
/**
 * 单页面page模块
 * -m-page
 */
.m-page { position: absolute; top:0; left: 0; width:100%; height: 100%;  z-index: 9; }
.m-page .page-con { position: relative; width: 100%; height: 100%; overflow: hidden; }
.m-page.active { z-index:40; }
.m-page.fixed { position: fixed; }
.m-page.move {
	-webkit-transition:all 0.3s;
  	   -moz-transition:all 0.3s;
	    -ms-transition:all 0.3s;
	     -o-transition:all 0.3s;
	        transition:all 0.3s;
}